D1rgb ../../data/dics/rgbdsubset_dic_5x5_rgbcrop_first.dat
D2rgb ../../data/dics/rgbdsubset_dic_5x5_rgbcrop_1000_second.dat
D1depth ../../data/dics/rgbdsubset_dic_5x5_depth_first.dat
D2depth ../../data/dics/rgbdsubset_dic_5x5_depth_500_second.dat
D1normal ../../data/dics/rgbdsubset_dic_5x5_normal_first.dat
D2normal ../../data/dics/rgbdsubset_dic_5x5_normal_1000_second.dat
D1gray ../../data/dics/rgbdsubset_dic_5x5_graycrop_first.dat
D2gray ../../data/dics/rgbdsubset_dic_5x5_graycrop_500_second.dat
if_mask 1 
spl1 5
spl2 10
resizetag 1